.App {
  text-align: center;
}


.btn-brand{
  color: white;
  background-color: rgb(0, 144, 177);
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  padding: 12px 60px;
  border:none;
}

.btn-brand:hover{
  color: white;
  background-color: rgb(58, 189, 212);
  
}
.input{
  padding: 12px 150px 12px 10px;

}